<launch>
    <arg name="fcu_url" default="udp://:14530@192.168.1.30:14540"/>
    <arg name="gcs_url" default="" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="log_output" default="screen" />

    <group ns="hippogryph">
        <!-- <include file="$(find px4_control)/launch/joy.launch"> </include> -->
        <include file="$(find px4_control)/launch/360_group.launch"> 
            <arg name="namespace" value="$(arg namespace)" />
        </include>
        <!-- <include file="$(find gps_kf)/launch/gps_group.launch"> </include> -->
        <include file="$(find mavros)/launch/node.launch">
            <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
            <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value="$(arg gcs_url)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="tgt_component" value="$(arg tgt_component)" />
            <arg name="log_output" value="$(arg log_output)" />
        </include>
    </group>

    <node name="hippogryph_joy" pkg="topic_tools" type="relay"
            args="/joy /hippogryph/joy" />
</launch>