<launch>

    <arg name="namespace" default="Sauron" />

    <group ns="$(arg namespace)">
        <include file="$(find px4_control)/launch/lm_group.launch"> 
            <arg name="namespace" value="$(arg namespace)" />
        </include>
    </group>

    <node name="sauron_joy" pkg="topic_tools" type="relay"
            args="/joy /$(arg namespace)/joy" />

    <!-- Launch RVIZ -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" 
            args="-d $(find px4_control)/Extras/$(arg namespace).rviz"/> -->
</launch>